/** flex 布局相关 */
// flex 水平垂直居中
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// flex column，水平垂直居中
@mixin flex-c-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* 通用效果 */
// 鼠标悬浮效果
@mixin hoverEffect($time: 0.3s, $background: rgba(0, 0, 0, 0.025)) {
  cursor: pointer;
  transition: background $time;
  &:hover {
    background: $background;
  }
}
